body{
    font-family: 'Source Sans'; 
}
/*#mySidebar a{
    text-decoration: none;
}
#mySidebar .router-link-exact-active{
    background: #fff!important;
    color: #000 !important;
}*/

/*.input-group.input-group--error .input-group__details::before {
    background-color: #f00 !important;
}

.input-group.input-group--error .input-group__messages {
    color: #f00 !important;
}
.input-group.input-group--error label {
    color: #f00 !important;
}

.input-group--text-field label {
    color: #f00 !important;
}*/


#user{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background: #eee;
    padding: 40px;
}
#user hr{
    /*border-width: 3px;*/
    border-color: #f00 !important;
    height: 1px;
    max-width: 200px;
    margin: auto;
    background: #000 !important;
}
#user h1{
    font-size: 25px;
}

/*
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
}
@media (min-width: 768px)
.sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span {
    border-bottom-right-radius: 4px;
}
@media (min-width: 768px)
.sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info, .sidebar-mini.sidebar-collapse .sidebar-form, .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span, .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu, .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right, .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display: none !important;
    -webkit-transform: translateZ(0);
}
@media (min-width: 768px)
.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    border-top-right-radius: 4px;
}*/

.snack__content {
    /*background-color: #000 !important;*/
    color: #fff !important;
}
#post #img img{
    max-height: 300px;
    margin: auto;
}

.input-group .input-group__details::before {
    background-color: #fbdb65 !important;
    /*z-index: 1000 !important;*/
    /*height: 2px !important;*/
}

.input-group.input-group--error .input-group__details::before {
    background-color: #f00 !important;
}


.input-group__details:after {
    background-color: #00f;
    color: #f00;
    top: 0;
    height: 2px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: center center 0;
    transform-origin: center center 0;
    width: 100%;
    z-index: 1;
}


element.style {
}

.input-group.input-group--text-field:not(.input-group--single-line):not(.input-group--error).input-group--focused label {
    color: #00f;
}

.input-group.input-group--error label {
    color: #f00;
}
.input-group.input-group--error .input-group__messages {
    color: #f00;
}

.application--wrap {
    min-height: 10vh !important;
}

.btn-outline{
    color: #000 !important;
    /*background-color: red;*/
}

.router-link-exact-active{
    background: #e5e5e5;
}